CONVEX_DEPLOYMENT=dev:scintillating-mongoose-488

EXPO_PUBLIC_CONVEX_URL=https://scintillating-mongoose-488.convex.cloud
EXPO_PUBLIC_CONVEX_SITE_URL=https://scintillating-mongoose-488.convex.site

EXPO_PUBLIC_FIREBASE_API_KEY=your-firebase-api-key
EXPO_PUBLIC_OPENROUTER_API_KEY=your-openrouter-api-key

EXPO_PUBLIC_AIGURU_LAB_API_KEY=your-aiguru-lab-api-key
EXPO_PUBLIC_SENTRY_DSN=your-sentry-dsn
